{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/about.css' %}"></link>
</head>
<body>
    <table>
        <tr>
            <th>Nama</th>
            <td>:</td>
            <td>Jabbar Abdullah Rabbani</td>
        </tr>
        <tr>
            <th>NPM</th>
            <td>:</td>
            <td>56417826</td>
        </tr>
    </table>
</body>
</html>