{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}"></link>
</head>
<body>
    <h1>Daftar Artikel</h1>
    {% for article in articles %}
        <a href="{{ article.get_absolute_url }}"><h2>{{ article }}</h2></a>
        <p>{{ article.isi|safe }}</p>
        {% endfor %}
    <a href="{% url 'blog:about' %}"><h2>Tentang Kami</h2></a>
</body>
</html>